<div class="page-width">
<div class="row">
  {% for blocks in section.blocks %} 
  <div class="column">
    <img src={{blocks.settings.Image1 | image_url}} style="width:100%">
    <img src={{blocks.settings.Image2 | image_url}} style="width:100%">
  </div>
  {%endfor%}
</div>
</div>

<style>
  .row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
</style>



{% schema %}
  {
    "name": "Dummy-Image-Gallery",
    "blocks": [
      {
        "type": "image",
        "name":"ImageGallery",
        "settings": [
          {
          "type": "image_picker",
          "id":"Image1",
          "label": "Image1"
          },
          {
            "type": "image_picker",
            "id":"Image2",
            "label":"Image2"
          }
      ]
      }
    ],
    "presets": [
      {
        "name": "Dummy Image Gallery"
      }
    ]
  }
{% endschema %}