<div class="page-width">
    {% for blocks in section.blocks %}
    <div>
        <img src={{blocks.settings.OfferIcon |  image_url}} alt="image">
        <p>{{blocks.settings.OfferText}}</p>
    </div>
    {% endfor %}
</div>

{% schema %}
    {
        "name" : "Dummy-offer-section",
        "settings":[
            {
                "type":"text",
                "id":"HeadingTxt",
                "label":"Headingtxt",
                "default":"textcategories"
            }
        ],
        "blocks": [
            {
                "name": "OfferSection",
                "type": "offer-section",
                "limit": 3,
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "OfferIcon",
                        "label": "Offer-Icon"
                    },
                    {
                        "type": "text",
                        "id": "OfferText",
                        "label": "OfferText",
                        "default": "Free Shipping on all"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Dummy Offer Section"
            }
        ]
    }
{% endschema %}