<div class="FeaturedSection">
    <h1>{{section.settings.HeadingTxt}}</h1>
    <p>{{section.settings.Description}}</p>
</div>


<style>
    .FeaturedSection{
        text-align: center;
    }
    .FeaturedSection h1{
        margin-bottom: 0;
    }
</style>


{% schema %}
    {
        "name":"Dummy-Featured-Section",
        "settings":[
            {
                "type": "richtext",
                "id": "HeadingTxt",
                "label":"FeaturedHeading",
                "default": "<h1>Featured Heading</h1>"
            },
            {
                "type": "richtext",
                "id": "Description",
                "label":"FeauredDescription",
                "default": "<p>Follow us on instagram to get featured</p>"
            }
        ],
        "presets": [
            {
                "name": "Dummy Featured Section"
            }
        ]
    }
{%endschema%}