<div class="page-width">
    {{section.settings.HeadingTxt}}
</div>



{% schema %}
{
    "name": "Dummy-collection-bar",
    "settings": [
        {
            "type": "text",
            "id":"HeadingTxt",
            "label": "Collection Heading",
            "default": "Collection Heading"
        }
    ],
    "presets": [
        {
            "name":"Dummy-collection-bar"
        }
    ]
}
{% endschema %}