<div class="page-width">
    <div class="ParentDivBox">
    {% for blocks in section.blocks %}
    <div class="divBox">
        <img src={{blocks.settings.OfferIcon |  image_url}} alt="image">
        <p>{{blocks.settings.OfferText}}</p>
    </div>
    {% endfor %}
    </div>
</div>

<style>
    .ParentDivBox{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #fafafa;
        margin: 8rem 0 8rem 0;
    }
    .divBox{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        cursor: pointer;
    }
</style>

{% schema %}
    {
        "name" : "Dummy-offer-section",
        "settings":[
            {
                "type":"text",
                "id":"HeadingTxt",
                "label":"Headingtxt",
                "default":"textcategories"
            }
        ],
        "blocks": [
            {
                "name": "OfferSection",
                "type": "offer-section",
                "limit": 3,
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "OfferIcon",
                        "label": "Offer-Icon"
                    },
                    {
                        "type": "text",
                        "id": "OfferText",
                        "label": "OfferText",
                        "default": "Free Shipping on all"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Dummy Offer Section"
            }
        ]
    }
{% endschema %}