<div class="page-width">
    <div>
        {{section.settings.HeadingTxt}}
        <img src={{blocks.settings.OfferIcon |  image_url}}>
        <p>{{blocks.settings.OfferText}}</p>
    </div>
</div>

{% schema %}
    {
        "name" : "Dummy-offer-section",
        "section":[
            {
                "type":"text",
                "id":"HeadingTxt",
                "label":"Headingtxt",
                "default":"textcategories"
            }
        ],
        "blocks": [
            {
                "name": "Slide",
                "type": "offer-section",
                "limit": 3,
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "OfferIcon",
                        "label": "Offer-Icon"
                    },
                    {
                        "type": "text",
                        "default": "<p>Offer text</p>",
                        "id": "OfferText",
                        "label": "OfferText"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Dummy Offer Section"
            }
        ]
    }
{% endschema %}