<div class="page-width">
  <h1>{{section.settings.OurMissionTitle}}</h1>
  <p>{{section.settings.OurMissionDesc}}</p>
</div>

{% schema %}
  {
    "name": "Our-Mission Section",
    "settings": [
      {
        "type": "richtext",
        "id": "OurMissionTitle",
        "label":"Banner-Heading",
        "default": "<h1>Our Mission</h1>"
      },
      {
        "type":"text",
        "id":"OurMissionDesc",
        "label": "Banner-Description",
        "default": "<p>Banner Description</p>"
      }
    ]
  }
{% endschema %}