.HeadingTxt{
    margin-top: 10rem;
  }
  .HeadingTxt,.DescriptionTxt {
    text-align: center;
  }
 
  .CategoryParentDiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .CategoryDivision{
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .ShopNowBtn{
    background-color: #000;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    font-weight: 800;
  }